@media screen and (min-width:320px){
    .navbar_menu{
        display: none;
    }
    .img{
        width:200%;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
    .signup{
        display: none;
    }
    .hamburger{
        display: flex;
        margin-top:1.5rem;
        margin-left: 13rem;
    }
}

@media screen and (min-width:768px){
    .navbar_menu{
        display: flex;
        margin: 1rem;
    }
    .img{
        margin-top: 0.3rem;
        width:75%;
    }
    .navbar_menucontainer{
        margin-left: 4rem;
        display: flex;
    }
    .signup{
        display: flex;
    }
    .hamburger{
        display: none;
    }

}

@media screen and (min-width:1024px){
    .navbar_menu{
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 2rem;
    }
    .img{
        margin-top: -5px;
        width:75%;
    }
    .navbar_menucontainer{
        margin-left: 8rem;
        display: flex;
    }
   
    .signup{
        display: flex;
        margin-left: 5rem;
    }
    .hamburger{
        display: none;
    }
}
.navbar_container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.navbar_logo{
    width:20%;
    padding-top: 15px;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    text-align: center;
    color: red;
}

.navbar_menu{
    padding:0.5rem;
    border-radius: 2%;
    transition: ease 0.8s;

}
.navbar_menus{
    margin: 0;
}
.signup_menu{
    margin: 1rem;
    padding:0.5rem;
    background-color: #FF00FF;
    color:white;
    transition: ease 0.8s;
}
.signup_menu:hover{
    background-color: #1E90FF;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.navbar_menu:hover{
    background-color: #1E90FF;
}
